.vert-buttons {
	margin-left: 400px;
	margin-top: 100px
}

.custom-query {
	margin-top: 100px;
	margin-left: 100px;
}

.jumbotron {
	background-color: #00B4D0;
}

.custom-query-button {
	background-color: #FF3375;
	border: none;
	color: white;
	height: 30px;
	width: 60px;
}

.custom-query-input {
	height: 30px;
	width: 700px;
}

.box {
	margin-top: 50px;
	margin-left: 30%;
}

.table-center {
	width: 1000px;
	margin: auto;
	margin-top: 75px;
}

body {
	font-family: 'Roboto', sans-serif;
}

.site-description {
	width: 750px;
}

.home-button {
	widows: 30px;
}